
/*   
  settings
*/
:root {
    /* cores */
       --white: #ffffff;
       --bg-buttom: #e65f2e;

    /* fonts */
       --titulo-font: 'Roboto', sans-serif;
       --frase-font: 'Source Sans Pro', sans-serif;
       --font-15pt: 15pt;
   
    /* espaços */
       --rem1: 1rem ;
       --width-logo: 9rem;
       --height_logo: 1.5rem;

    /* bg */
       --bgi-inicio: url('../assets/capa.png')no-repeat center; 
                     
                     
}
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    border: none;
    outline: none;
}
html {scroll-behavior: smooth;}
h2 {font-family: var(--titulo-font);}
p  {font-family: var(--frase-font);}
.box {
    max-width: 1280px;
    margin: 0 auto;
}


/*
   INICIO
*/
.inicio {
   width: 100%;
   height: 40rem; 
   padding: var(--rem1);
   background: var(--bgi-inicio);
   background-size: cover;
}
.inicio .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloco__logo-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
}

.inicio__menu_mobile {display: none;}

.bloco__logo-menu .img {
   width: var(--largura-logo);
   height: var(--height_logo);
}
.inicio__menu ul {
    position: relative; 
    top: 15px;
}
.inicio__menu li {display: inline-block;}
.inicio__menu a {
    padding: var(--rem1);
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-15pt);
}
.inicio__menu a:hover {
    height: var(--rem1);
    background-color: #47474266;
}
.inicio__menu li:hover {
    padding-bottom: 15px;
    border-bottom: 1px solid #0ce40c;
}

.bloco_chamada {
    display: flex;
    justify-content: right;
    width: 100%;
} 
.inicio__chamada-flex {
    width: 100%;
    max-width: 600px;
    margin-right: 3rem;
}

.bloco_chamada__titulo {
    max-width: 80%;
    margin-bottom: var(--rem1);
    font-size: 33pt;
    font-weight: 400;
    color: var(--white);
}
.bloco_chamada p {
    max-width: 100%;
    margin-bottom: var(--rem1);
    font-size: 18pt;
    font-weight: 300;
    color: #eee8e8;
    text-align: left;
    line-height: 2rem;
}
.bloco_chamada__btn{
    width: 200px;
    height: 4rem;
    font-size: var(--font-15pt);
    font-weight: 300;
    font-family: var(--titulo-font);
    color: var(--white);
    background-color: var(--bg-buttom);
    cursor: pointer;
    border-radius: 2rem;
    margin-top: 2rem;
}

.bloco_chamada__btn:hover{
    background-color: transparent;
    color: #7ce710;
    border: 1px solid var(--bg-buttom);
}


/*
   INICIO_MOBILE
*/
.inicio_mobile {display: none;}
.menu_icon {
    font-size: 30pt;
    color: var(--white);
    cursor: pointer;
}
  
.menu_mobile__list {
    display: none;
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    text-align: center;
    list-style: none;
}

.inicio__menu_mobile li {
    background-color: #363535;
    padding: 1.5rem ;
    border-bottom: 1px solid #756c6c;
}

.inicio__menu_mobile li:hover {
    background-color: #050505cc;
}

.inicio__menu_mobile a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-15pt);
}


/* 
   servicos
*/
.servicos {
    background-color: #472562;
}
.servicos .box {
    display: flex;
    max-width: 100%;
    width: 1100px;
    height: 27rem;
    padding: 0 2%;
}
.servicos__cta {
    width: 50%;
    padding-top: 5rem;
}
.servicos__titulo {
    width: 500px;
    font-size: 25pt;
    color: var(--white);
    font-weight: 300;
    padding-bottom: var(--rem1);
}
.servicos__frase {
    width: 500px;
    font-size: 18pt;
    color: #e1e4e7;
    padding-bottom: 0.1rem;
}
.servicos__list {
    list-style: inside;
    padding-bottom: var(--rem1);
    font-size: var(--font-15pt);
    font-weight: lighter;
    color: #f6faf9;
}
.servicos__btn {
    width: 200px;
    height: 4rem;
    padding: 0 3%;
    margin-top: var(--rem1);
    border-radius: 2rem;
    background-color: var(--bg-buttom);
    color: var(--white);
    font-size: 14pt;
    font-weight: 300;
}

.servicos__btn:hover{
    background-color: transparent;
    color: #7ce710;
    border: 1px solid  var(--bg-buttom);
}

.servicos__img {
    width: 50%;
    position: relative;
}
.servicos__img img{
    width: 100%;
    height: 111%;
    position: absolute;
    top: -3rem;
}


/*
    video-cta
*/
.video-cta {background-color: #eaeceb}
.video-cta .box {
    display: flex;
    flex-direction: column;
    max-width: 59.2rem;
    text-align: center;
}
.video-cta__titulo-txt {padding: 2rem 2%;}
.video-cta__titulo {
    font-size: 30pt;
    color: #4c775a;
    font-weight: 300;
    margin-bottom: 2rem;
}
.video-cta__titulo::after {
    content: '';
    display: block;
    width: 20rem;
    height: 0.2rem;
    margin: auto;
    background-color: #ff6347;
}
.video-cta__txt {
    width: 100%;
    text-align: left;
    font-size:  var(--font-15pt);
    font-weight: normal;
    color: #222422;
}
.video-cta__img {width: 100%;}
.video-cta img {
    position: relative;
    top: 2rem;
    max-width: 100%;
}


/*
    sobre
*/
.sobre {
    background-color: #5f9ea0;}
.sobre__box {display: flex;}
.sobre__nosso-time {
    width: 50%;
    height: 30rem;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #835FA7;
}
.sobre__conteudo {
    width: 75%;
    height: 15rem;
}
.nosso-time__titulo {
    color: #f1ebeb;
    font-size: 25pt;
    font-weight: 300;
    font-style: italic;
}
.nosso-time__titulo::after {
    content: '';
    display: block;
    width: 40%;
    height: 0.2rem;
    margin-bottom: var(--rem1);
    background-color: #9acd32;
}
.nosso-time__txt {
    color: #ddd5d5;
    font-size: 16pt;
    font-weight: 400;
    line-height: 2rem;
    max-width: 90%;
}
.sobre__slide {
    width: 50%;
    height: 30rem;
    background-color: #E5ECE1;
}
.slide__bloco-info { 
    display: flex;
    align-items: center;
    height: 30rem;
}
.slide__content {
    width: 85%;
    height: 15rem;
    padding-left: 2rem;
}
.slide__titulos {
    display: inline-block;
    margin-bottom: var(--rem1);
}

.bloco__info01 {
    color: #272424;
    font-size: 19pt;
    font-weight: 300;
   
}
.bloco__info02 {
    color: #524c4c;
    font-size: 13pt;
    font-weight: 300; 
    font-style: italic;
}
.sobre__slide img {
    width: 4rem;
    border-radius: 2rem;
    margin-left: var(--rem1);
}
.slide__txt {
    color: #3d3d53;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.5rem;
}
:is(.sobre__slide) span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin: 1rem 0.5rem;
    border-radius: 2rem;
    background-color: #928989;
}
.sobre__slide .slide__circle {
    background-color: #313330;
}


/*
    contato
*/
.contato {
    padding: 2%;
    background-color: #472563;
}
.contato__box {
    display: flex;
    padding: 20px;
}
.bloco-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
   
}
.bloco-form__titulo {
    font-size: 25pt;
    font-weight: 300;
    color: var(--white);
    margin-bottom: var(--rem1);
}
.bloco-form__txt {
    max-width: 80%;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--white);
    margin-bottom: var(--rem1);
}
.form {  
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

:is(.form) .form__nome , .form__email {
    height: 4rem;
    margin-bottom: 0.5rem;
    padding: 0 var(--rem1);
    font-size: 14pt;
    color: #61676d;
}
.form__caixa-txt {
    height: 15rem;
    padding: 0.5rem;
    font-size: 14pt;
    color: #61676d;
    resize: vertical;
    margin-bottom: var(--rem1);
}
.form__enviar {
    width: 10rem;
    height: 3rem;
    color: #f2f4f6;
    font-size: 16pt;
    font-weight: 300;
    background-color: #ff6347;
    border-radius: 2rem;
    cursor: pointer;
}
.form__enviar:hover {
    background-color: transparent;
    color: #7ce710;
    border: 1px solid var(--bg-buttom);
}

.bloco-map {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
}
.bloco-map__titulo {
    font-size: 25pt;
    font-weight: 300;
    color: var(--white);
    margin-bottom: var(--rem1);
}

.bloco-map__frame {
    width: 70%;
    height: 25rem;
    border: 0.5rem solid #18161680;
    background-clip: padding-box;
}


/*
    fim
*/
.fim {
    padding: 2rem;
    background-color: #242722;
}
.fim .box {
    display: flex;
    justify-content: space-between;
}
:is(.fim) p {
    font-size:  var(--font-15pt);
    color: var(--white);
}


/* 
   @media
*/
@media screen and (max-width: 860px) {
    .bloco__logo-menu {height: 7rem;}
    .inicio__menu {display: none;}

/* mobile */    
    .inicio__menu_mobile {display: block;}
   
/* chamada */
    .inicio__chamada-flex {
        width: 100%;
        margin: auto;
    }
    .bloco_chamada__titulo {max-width: 100%;}
   
/*
   servicos
*/
    .servicos__cta {
       width: 100%;
       text-align: center;
    }
    :is(.servicos__cta) .servicos__titulo , .servicos__frase {
        width: 100%;
    }

    .servicos__list { 
        display: block;
        position: relative;
        top: var(--rem1);
    }
    .servicos__list li {
        width: 150px;
        text-align: left;
        margin: auto;
        padding: 0.3rem;
    }
    .servicos__img {display: none;}


/* 
    video-cta
*/
    .video-cta__titulo {
        font-size: 30pt;
        color: #4c775a;
        font-weight: 300;
        margin-bottom: 2rem;
    }

/* 
    sobre
*/
    .sobre__box {
        display: flex;
        flex-wrap: wrap;
    }
    .sobre__conteudo {
        width: 90%;
        height: 15rem;
    }
    .sobre__nosso-time {
        justify-content: center;
        padding: 5.5rem 0;
        height: 25rem;
        width: 100%;
    }
    .nosso-time__txt {
        max-width: 100%;
    }
    .slide__bloco-info {
        height: 100%;
        justify-content: center;
    }
    .sobre__slide {
        width: 100%;
        height: 25rem;
        padding: 3rem 0;
    }

/*
    contato
*/
    .contato__box {flex-wrap: wrap;}
    :is(.contato) .bloco-form , .bloco-map {
        width: 100%; 
        text-align: center;
    }
    .bloco-form  {margin-bottom: 3rem;}
    .bloco-form__txt {
        margin: var(--rem1) auto;
        text-align: left;
    }
    :is(.contato) .form , .form__enviar , .bloco-map__frame {
        margin: auto;
    }
    .form {width: 80%;}
}

@media screen and (max-width: 600px) {
    .bloco-map__frame {width: 100%;}
    .fim .box {
      flex-wrap: wrap;
      text-align: center;
    }
    :is(.fim) p {
        width: 100%;
        font-size: var(--font-15pt);
        margin-bottom: 0.5rem;
    }    
}